name: lint-and-test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libx11-dev
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
      - name: Run lint
        run: make install-lint-tools lint
  lint-exporter:
    name: Run lint for exporter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libx11-dev
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
      - name: Run lint for exporter
        run: make install-lint-tools lint-exporter

  test:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libx11-dev
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
      - name: Run test
        run: make test-coverage
      - uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.out
  test-exporter:
    name: Run test for exporter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libx11-dev
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
      - name: Run test for exporter
        run: make test-coverage-exporter
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-exporter
          path: coverage.out
  upload-coverage:
    name: Upload test coverage to Codecov
    runs-on: ubuntu-latest
    needs: [test, test-exporter]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v6
        with:
          path: coverages
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
