name: lint-and-test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  detect-modules:
    runs-on: ubuntu-slim
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "./tuiexporter/go.mod"
          cache: false
      - id: set-modules
        run: echo "modules=$(go list -m -json | jq -s '.' | jq -c '[.[].Dir]')" >> $GITHUB_OUTPUT

  lint:
    needs: detect-modules
    name: Run lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        modules: ${{ fromJSON(needs.detect-modules.outputs.modules) }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "./tuiexporter/go.mod"
          cache: false
      - name: Setup Golang caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles(format('{0}/go.sum', matrix.modules)) }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: golangci-lint ${{ matrix.modules }}
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: ${{ matrix.modules }}

  test:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"
          cache: false
      - name: Setup Golang caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('./go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Run test
        run: make test-coverage
      - uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.out
  test-exporter:
    name: Run test for exporter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./tuiexporter/go.mod"
          cache: false
      - name: Setup Golang caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('./tuiexporter/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Run test for exporter
        run: make test-coverage-exporter
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-exporter
          path: coverage.out
  upload-coverage:
    name: Upload test coverage to Codecov
    runs-on: ubuntu-slim
    needs: [test, test-exporter]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          path: coverages
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
